<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 rescap">

  <Identity
    Name="KenkoYoshitomi.35188E3EA5220"
    Publisher="CN=B636CFB3-703B-4401-BE51-E29595A0F7B0"
    Version="0.0.4.0" />
  <!-- When you're ready to publish your extension, you'll need to change the
       Publisher= to match your own identity -->

  <Properties>
    <DisplayName>VSCode Project Manager</DisplayName>
    <PublisherDisplayName>Kenko Yoshitomi</PublisherDisplayName>
    <Logo>Assets\vscode.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="VSCode Project Manager"
        Description="VSCode Project Manager"
        BackgroundColor="transparent" Square44x44Logo="Assets\vscode.png" Square150x150Logo="Assets\vscode.png">
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="ProjectManager.exe" Arguments="-RegisterProcessAsComServer" DisplayName="VSCode Project Manager">
              <com:Class Id="029693ff-b637-47f0-9370-025261a63da0" DisplayName="VSCode Project Manager" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.commandpalette"
            Id="VSCodeProjectManager"
            DisplayName="VSCode Project Manager"
            Description="VSCode Project Manager">
            <uap3:Properties>
              <CmdPalProvider>
                <Activation>
                  <CreateInstance ClassId="029693ff-b637-47f0-9370-025261a63da0" />
                </Activation>
                <SupportedInterfaces>
                  <Commands/>
                </SupportedInterfaces>
              </CmdPalProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
